<% provide(:title, 'Flying Birds!') %>
<h1>Flying Birds!</h1>
<h2>What do you want the birds to do?</h2>

<%= link_to "Fly around cage", aroundcage_path, class: "btn btn-large btn-primary" %>
<%= link_to "Fly to tree", 'flyingbirds#totree', class: "btn btn-large btn-primary" %>