<% provide(:title, 'Flying Birds!') %>
<h1>Flying Birds!</h1>
<h2>What do you want the birds to do?</h2>

<div id="aroundcage" class="btn btn-small btn-primary">Fly around cage</div>
<div id="totree" class="btn btn-small btn-primary">Fly to a tree</div>
<p>Thanks to my friend <a href="http://guscost.com">Gus Cost</a> for showing me the joys of the raphaeljs library, for drawing the rolling hills and tree scenescape, and for hacking with me to get these running.</p>