<% provide(:title, 'Flying Birds!') %>
<h1>Flying Birds!</h1>
<h2>What do you want the birds to do?</h2>

<div id="aroundcage" class="btn btn-small btn-primary">Fly around cage</div>
<div id="totree" class="btn btn-small btn-primary">Fly to a tree</div>
<div id="raphael_canvas">here i will be</div>