<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1>David Ziegler's Site for Projects</h1>
	<h2>Welcome. Here are a few projects that I have been working on.  Look around, play with what you find interesting, go crazy!</h2>
	<p>Frankly, it is only a frame for the stuff I'm building.  But it's changing daily, so please come back.</p>
</div>