<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1>David Ziegler's Site for Projects</h1>
	<h2>Welcome.  Here are a few projects that I have been working on.  Feel free to look around and play with what you find interesting.</h2>
</div>

<div><%= link_to "Let's go look at the birds!", { :controller => "flyingbirds", :action => "index" }, class: "btn btn-large btn-primary" %>	</div>
<div><%= link_to "Who I am", "http://www.linkedin.com/in/dzieglersf", class: "btn btn-large btn-primary" %></div>
<div><%= link_to "Check out the blog", { :controller => "blog", :action => "index" },class: "btn btn-large btn-primary" %></div>