<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1>David Ziegler's Site for Projects</h1>
	<h2>Welcome.  Here are a few projects that I have been working on.  Feel free to look around and play with what you find interesting.</h2>
</div>

<%= link_to "Who I am", "http://www.linkedin.com/in/dzieglersf" %>