<% provide(:title, 'Not Done Yet!') %>

<div class="center hero-unit">
	<h1>Stay tuned ....</h1>
	<h2>I'm still working on this part.  Please come back and check later.  Thanks!</h2>
</div>

<div><%= link_to "Return Home", :root, :class => "btn btn-small btn-primary" %></div>