<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">David Ziegler</a>
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li class="active"><%= link_to "Home", :root %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to "Birds", :flyingbirds %></li>
      <li><%= link_to "Resume", "http://www.linkedin.com/in/dzieglersf" %></li>
      <li><%= link_to "Blog", :blog_root %></li>
      <li class="dropdown" id="thirteen-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">13 Ways of Looking at a Ziegler<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Clarinet</a></li>
          <li><a href="#">Stage</a></li>
          <li><a href="#">Primes</a></li>
          <li><a href="#">Shakespeare</a></li>
          <li><a href="#">Leadership</a></li>
          <li><a href="#">etc.</a></li>
        </ul>
      </li>
      <li><a href="#">Rubik's Cube</a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</div>
